extends layout

block content
    form(method='POST' action='/new')
        label Author:
        input(type='text' name='author' value='' required='required')
        label Message:
        input(type='text' name='message' value='' required='required')
        label Submit:
        input(type='submit' name='submit' value='submit')
    button
        a(href='/') Go to Home