extends layout

block content
  h1= title
  p Welcome to #{title}
  button
    a(href='/new') Go to Form
  ul
    each msg in messages.length ? messages : ['There are no new messages']
      li= msg.user + ": " + msg.text + " " + msg.added

